{% extends 'layout_admin.html.twig' %}
{% set admin_active = 'locations' %}

{% block head %}
    {{ map.getHeaderJS()|raw }}
{% endblock %}

{% block admin_content %}
    <table class="table table-striped well">
        <thead>
            <tr>
                <th>ID</th>
                <th>Game</th>
                <th>Level</th>
                <th>Lat / Lang</th>
                <th>Visible</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr>
                    <td>
                        {{ location.id }}
                    </td>
                    <td>
                        <a href="{{ location.level.game.getFullLink() }}">{{ location.level.game.name }}</a>
                    </td>
                    <td>
                        <a href="{{ location.level.getFullLink() }}">{{ location.level }}</a>
                    </td>
                    <td>
                        <a href="#" data-remote="{{ path('admin_location_map',
                        {'location': location.id}) }}" role="button"
                           data-target="#location_map_modal" data-toggle="modal">
                            {{ location.lat }} {{ location.lng }}
                        </a>
                    </td>
                    <td>
                        {{ location.visible ? 'Yes' : 'No' }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="location_map_modal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="level_content_modal_label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="level_content_modal_label">Location Position</h3>
        </div>
        <div class="modal-body">
            <p style="height: 370px; width: 530px;">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $('#location_map_modal').on('hidden', function() {
            $(this).data('modal').$element.removeData();
            $(this).children('.modal-body').html('<p style="height: 370px; width: 530px;">&nbsp;</p>');
        });
    </script>
{% endblock %}
