{% extends 'layout_admin.html.twig' %}
{% set admin_active = 'locations' %}

{% block head %}
    {{ map.getHeaderJS()|raw }}
{% endblock %}

{% block admin_content %}
    <table class="table table-striped well">
        <thead>
            <tr>
                <th>ID</th>
                <th>Game</th>
                <th>Level</th>
                <th>Lat / Lang</th>
                <th>Visible</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr>
                    <td>
                        {{ location.id }}
                    </td>
                    <td>
                        <a href="{{ location.level.game.getFullLink() }}">{{ location.level.game.name }}</a>
                    </td>
                    <td>
                        <a href="{{ location.level.getFullLink() }}">{{ location.level }}</a>
                    </td>
                    <td>
                        <a href="#" data-remote="{{ path('admin_location_map',
                        {'location': location.id}) }}" role="button"
                           data-target="#location_map_modal" data-toggle="modal">
                            {{ location.lat }} {{ location.lng }}
                        </a>
                    </td>
                    <td>
                        <a href="#" class='action-toggle-visible' data-location='{{ location.id }}'
                           data-visible='{{ location.visible }}'>
                            {{ location.visible ? 'Yes' : 'No' }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="location_map_modal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="level_content_modal_label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="level_content_modal_label">Location Position</h3>
        </div>
        <div class="modal-body">
            <p style="height: 370px; width: 530px;">&nbsp;</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $('#location_map_modal').on('hidden', function() {
            $(this).data('modal').$element.removeData();
            $(this).children('.modal-body').html('<p style="height: 370px; width: 530px;">&nbsp;</p>');
        });

        $('.action-toggle-visible').click(function(event) {
            event.preventDefault();

            var location = $(this).attr('data-location');
            var visible = $(this).attr('data-visible');
            console.log(!visible);

            $.ajax({
                url: '{{ path('admin_locations_visible_toggle') }}',
                type: 'POST',
                context: $(this),
                data: {
                    location: location,
                    visible: (!visible ? true : false)
                }
            }).done(function(data) {
                if (data.visible == true) {
                    $(this).html('Yes')
                    $(this).attr('data-visible', 1);
                } else {
                    $(this).html('No')
                    $(this).attr('data-visible', '');
                }
            });
        });
    </script>
{% endblock %}
